body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.root{
    margin: 55px 0 0 0;
    padding: 0 0 0 0;
    width: 100%;
}

.P_container{
	
    padding-bottom: 5px;
}
.top-nav{
background:#02B19A;
border-color:#02B19A;
}

.top-nav li > a{
	color: white !important;
}
.top-nav-head{
	color: white !important;
}
.P_footer {
  text-align: -webkit-center;
}
.text-color{
  color: #02B19A;
}
.text-color-back{
  background:  #02B19A ;
  border-color: #02B19A ;
}
.text-color-back:hover,.text-color-back:active,.text-color-back:focus,.text-color-back:active:focus{
  background:  #02B19A ;
  border-color: #02B19A ;
}