body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.root{
    margin: 55px 0 0 0;
    padding: 0 0 0 0;
    width: 100%;
}

.P_container{
	
    padding-bottom: 5px;
}
.top-nav{
background:#d9534f;
border-color:#d9534f;
}

.top-nav li > a{
	color: white !important;
}
.top-nav-head{
	color: white !important;
}
.P_footer {
  text-align: -webkit-center;
}